
.player-bar {
    height: 70px;
   
    background-color: black !important;
    border-top: 1px solid white;
  }
  
  .player-icon {
    color: #fff;
    margin: 0 15px;
    cursor: pointer;
  }
  
  .player-icon.play {
    font-size: 30px;
  }
  
  
  

/* Opzionale, stile per il bottone di play */
.btn-play {
  background-color: #1db954; /* Colore verde Spotify per il bottone play */
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.btn-play:hover {
  opacity: 0.8; /* Effetto al passaggio del mouse */
}





.playlistcard{
width: 100%;
object-fit: cover;
padding: 10px 10px 10px 10px;

}